name: tik1
description: A new Flutter TikTok clone project.
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: '>=3.0.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  # هذه المكتبة هي التي كانت ناقصة وتسببت في الخطأ
  flutter_localizations:
    sdk: flutter
  video_player: ^2.8.1
  image_picker: ^1.2.1
  cupertino_icons: ^1.0.6

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

