name: Build Tik1 Ultra APK
on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4 # تحديث للإصدار 4
      
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: 'oracle'
          java-version: '17'
          
      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0' # تحديد إصدار مستقر
          channel: 'stable'
          
      - name: Install dependencies
        run: flutter pub get
        
      - name: Build APK
        run: flutter build apk --release --no-tree-shake-icons
        
      - name: Upload APK
        uses: actions/upload-artifact@v4 # تحديث للإصدار 4
        with:
          name: Tik1-Ultra-App
          path: build/app/outputs/flutter-apk/app-release.apk

